<div class="left-side-bar hide">
    <div class="main-logo">
        <a href="#"><img src="assets/images/BoldLogo.png" alt=""></a>
    </div>
    <div class="left-side-nav">
        <ul class="nav">
            <li class="active">
                <a href="#">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Data Modules</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-image"></i>
                    <span>Graphic Entities</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sitemap"></i>
                    <span>Common Information</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Administrator</span>
                </a>
            </li>
        </ul>
    </div>
</div>
