
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<section class="form-main-wrapper">
<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="main-forms-section cstm-bg-style">
                <form>
                    <div class="form-header">
                        <h1>Technical Manual Form</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-label">Choose Module Project:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Project 1</option>span
                                <option value="">Project 2</option>
                                <option value="">Project 3</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="form-label">Choose Module Type:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Type 1</option>
                                <option value="">Type 2</option>
                                <option value="">Type 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Tech Name<span>*</span></label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Info Name<span>*</span></label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Date:</label>
                            <input type="date" class="form-control" id="" aria-describedby="">
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Choose Schema:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>000</option>
                                <option value="">000</option>
                                <option value="">000</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Select data Module Type:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Type 1</option>
                                <option value="">Type 2</option>
                                <option value="">Type 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">Select Namespace:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Type 1</option>
                                <option value="">Type 2</option>
                                <option value="">Type 3</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Model Ident Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">SDC<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">System Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Sub-Sys<span>*</span>:</label>
                            <input type="number" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">S-Sub-Sys<span>*</span>:</label>
                            <input type="number" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <!-- Divider -->
                        <div class="w-100"></div>
                        <!-- Divider -->
                        <div class="col">
                            <label for="" class="form-label">Assy Code<span>*</span>:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Type 1</option>
                                <option value="">Type 2</option>
                                <option value="">Type 3</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Disassy Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Disassy Code Variant<span>*</span>:</label>
                            <input type="number" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>

                        <div class="col">
                            <label for="" class="form-label">Info Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Info Code Variant<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <!-- Divider -->
                        <div class="w-100"></div>
                        <!-- Divider -->
                        <div class="col">
                            <label for="" class="form-label">Item Location Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Country ISO Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Language ISO Code<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Issue Number<span>*</span>:</label>
                            <select name="" id="" class="form-select">
                                <option value="" selected disabled>Type 1</option>
                                <option value="">Type 2</option>
                                <option value="">Type 3</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" class="form-label">In Work<span>*</span>:</label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                        </div>
                        <!-- Divider -->
                        <div class="w-100"></div>
                        <!-- Divider -->
                        <div class="col-md-6">
                            <label for="" class="form-label"><h2>COPYRIGHT</h2></label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                            <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Dummy Text"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="form-label"><h2>POLICY</h2></label>
                            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Dummy Text">
                            <textarea class="form-control" name="" id="" cols="30" rows="6" placeholder="Dummy Text"></textarea>
                        </div>
                        <!-- <div class="col-md-4 mb-5 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out:</label>
                        </div> -->
                        <div class="col-md-12 text-center mt-3">
                            <button type="submit" class="btn cstm-btn">Submit</button>
                        </div>
                        <!-- <hr class="steelblue"> -->
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
    </section>

